.sequencer {
    display: flex;
	flex-direction: column;

}

.note {
    height: 4em;
    width: 4em;
    margin: 2px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #ddd;

}

.note-is-active {
    background-color: green;
}

.note-is-not-active {

}