.sequencer {
    margin: 50px;


}

.note {
    height: 3em;
    width: 3em;
    margin: 0px;
    border-radius: 5px;
    border-width: 1px;
    background-color: #fff;
    transition: background-color 0.3s;
    
    &:hover {
        background-color: #4281b2;
      }
}


.note-is-active {
    background-color: #005da5;
}

