{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Beat Battle{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'beat/styles.css' %}" rel="stylesheet">
        <script src="{% static 'beat/tone.js' %}"></script>

        {% block additional_scripts %}{% endblock %}
    </head>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Tone Synth</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if user.is_active %}
                    <li class="nav-item active"><a class="nav-link" href="{% url 'profile' user.username %}">{{user.username}} <span class="sr-only">(current)</span></a></li>
                    <li class="nav-item active"><a class="nav-link" href="{% url 'example' %}">Create <span class="sr-only">(current)</span></a></li>

                    <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a></li>



                {% else %}
                
                <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" href="#">Create <span class="sr-only">(current)</span></a></li>

                {% endif %}
        </div>  
        </nav>
    </head>
    <body>

            {% block body %}
            {% endblock %}


    </body>
    
</html>